body {
      margin:0;
      background-size: cover;
      box-sizing: border-box;
      background-attachment: fixed;

}
.boutton {text-decoration:none;
          display: inline-block;
          float: right;
          margin-top: 3px;
          margin-right:50px;
          border:1px solid #00897b;
          border-radius:8px;
          padding: 6px;
        }

.boutton:hover {text-decoration: none;
                background-color:#00897b;
                color:white;
}


a {font-family: 'Droid Sans', sans-serif;
                 font-size:23px;
                  color:#00897b;}

.nav {font-family: 'Hind Siliguri', sans-serif;
      background-color: white;
      height:30px;
      width:100%;
}

.logo {border: 1px solid #00897b;
      border-radius: 8px;
       position: absolute;
       margin-left: 350px;
       margin-top: 0px;
       height:100px;
       width: 350px;
       background-color: #00897b;

}
.logo h1 {
          font-family: 'Droid Sans', sans-serif;
          font-weight: bold;
          font-size: 40px;
          color: white;
          text-align: center;
        }
.color{
             background-color:#3F51Ba;
             margin-top:26px;
             height: 1000px;
             width:98%;

}

.row {line-height: 100px;
      margin-top:150px;}

form {
      background-color: #00897b;
      padding-left: 100px;
      border:2px solid #00897b;
      border-radius: 8px;
    }

.input-group-addon {background-color:white;}
